/*Typography*/
*{
	margin: 0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}
.container-fluid{
	margin: 0;
	padding: 0;
}
.container{
}

body{
	font-family: 'Poppins', sans-serif;
	color: #ffffff;
}
.fix{
	clear: both;
}
.page-header{
	text-transform: uppercase;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 10px;
	font-weight: 600;

}



/*Import Font*/
@import url('https://fonts.googleapis.com/css?family=Poppins');


/*Logo And Nav Section*/
.logo img{
	width: 200px;
}

.navbar-nav li a{
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}
.navbar-nav li a:hover{
	color: #0476F1 !important;
	font-size: 15px ;
}
.navbar-nav li a.active{
	color: #0476F1 !important;
}


/*Home/Slider Section*/
.mySlides{
	display: none;
}
.slider img{
	height: 90.6vh;
}
.number-text{
	position: absolute;
	bottom: 20px;
	left: 45%;
	color: white;
}
/*Home/Slider Fading animation*/
.fade-out {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}


/*Home/content section*/
.home-content{
	position: absolute;
	top: 35%;
	left: 10%;
}
.connect-social{
	margin: 0 20%;
}
.connect-social a{
	font-size: 28px;
	margin-right: 15px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.connect-social a:hover{
	color: #ffffffff !important;
	font-size: 26px;
}
.home-text{
    position: relative;
    right: 50px;}
.home-text h1{
	font-weight: 700;
	text-align: center;
	margin: 20px 0;
}
.home-text p{
	text-align: center;
	margin-bottom: 20px;
	font-size: 17px;
}
.home-btn{
	margin:  0 21%;
}
.home-btn button{
	border: none;
	border-radius: 50px;
	width: 120px;
	text-transform: uppercase;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.work-btn{
	margin-right: 20px;
}
.work-btn:hover{
	background: #ffffffff;
	color: #0476F1;
}
.hire-btn:hover{
	background: #0476F1;
	color: #ffffff !important;
}



/*Aout Start*/
#about{
	background: #000;
	height: 100%;
}
.about-content{
	margin-top: 80px;
}
.about-content h3{
    border: 3px solid;
    display: inline;
    padding: 11px 21px;
    margin-bottom: 20px;
}
.about-content p{
	margin: 35px 0;
	text-align: justify;
}
.about-content div{
    position: relative;
    top: 13px;
    width: 9px;
    height: 13px;
    border-radius: 0 0 273% 0;
    left: 20px;
	background: #ffffff;
}
.name, .email, .phone, .twitter{
	float: left;
}
.name-title, .email-title, .phone-title, .twitter-title{
	margin-bottom: 0;
}

.name{
	margin-right: 34%;
}
.phone{
	margin-right: 27%;
}
.twitter{
	margin-left: 6px;
}
.side-about hr{
	background: #727679 !important;
}

.about-btn{
	margin-top: 50px;
}
.send-message{
	border: 1px solid #ffffff;
	background: #000 !important;
	border-radius: 50px;
	padding: 8px 20px;
	margin-right: 10px;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .9s ease;
}
.send-message:hover{
	background: #ffffff !important;
	color: #000;
}
.download-cv{
	border-radius: 50px;
	padding: 8px 20px;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .9s ease;
}
.download-cv:hover{
	 background: #0c498a;
}


#about img{
	margin: 50px 0;
}
.skill-img{
	width: 90%;
}
.skill-analysis{
	width: 70%;
	height: 37%;
	background: black;
	border: 1px solid #ffffff;
	position: absolute;
	bottom: 35%;
	left: 25%;
	opacity: .7;
}
.skill-analysis-content hr{
	margin-top: 0;
	margin-right: 140px;
	padding: 1px;
}
.skill-analysis-content p{
	margin-bottom: 5px;
}
.skill-analysis-content{
	position: relative;
	bottom: 32%;
	left: 25%;
	padding: 15px 20px;
}
.html-skill{
	
}
.skill-calculate{
	border: 1px solid;
    display: inline;
    padding: 3px 5px;
    font-size: 10px;
    position: relative;
    left: 62%;
    bottom: 54px;
}
.skill-calculate-shap{
	width: 2px;
	height: 4px;
    border-radius: 0 0 100%;
    margin-left: 4px;
    position: relative;
    left: 62%;
    bottom: 54px;
}
.toggle-nav{
 display: none;
}






/*Services Page*/
.service-nav{
	position: relative;
	z-index: 2222222222;
}
#services{
	background: #F6F6F6;
	height: 100%;
	padding-bottom: 50px;
	position: relative;
	z-index: 22222222;
}
#services hr{
	margin: 10px 47%;
}
.service-hr1{
	margin-top: 0px !important;
	margin-bottom: 5px !important;
}
.service-hr2{
	margin: 0 45% 5px 45% !important;
}
.service-hr3{
	margin-top: 0px !important;
	margin-bottom: 10px !important;
}
.service-box{
	background: black;
	height: 45vh;
	margin-bottom: 20px;
}
.link:hover{
	text-decoration: none;
	color: #cdcdcd !important;
}
.service-content{
	padding: 25px 20px;
}
.service-content i{
	padding: 8px;
	margin: 10px 44%;
	font-size: 15px;
	border-radius: 50%;

}
.service-content h4{

}
.service-content hr{
	padding: 0 20px;
	margin: 12px 40% !important;
}
.service-content p{
	font-size: 13px;
}



.consultation-background{
	height: 244px;
	background: #000;
	position: relative;
	opacity: 0.8;
	z-index: 2222222;
}
#consultation img{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}
.consultation-content{
	z-index: 222222222222222222222222222222;
	position: absolute;
	top: 140vh;
	left: 10vw;
}
.formality{
	position: relative;
	z-index: 222222;
	background: #F6F6F6;
	height: 10vh;
}
.consultation-content h1{
	font-size: 20px;
}
.consultation-content p{
	font-size: 13px;
}
#consultation input{
    padding: 7px 30px;
    border-radius: 50px
}
#consultation button{
	border-radius: 50px;
	padding: 9px 30px;
	position: relative;
	right: 13%;
}









/*Protfolio Page*/
#protfolio{
	background: #F6F6F6;
	height: 100%;
	padding-bottom: 50px;
	position: relative;
	z-index: 22222222;
}
#protfolio hr{
	margin: 10px 47%;
}
.protfolio-header{
	margin-bottom: 50px;
}
.protfolio-nav{
	margin-bottom: 15px;
}
.nav-link-hover{
	color: #646464;
}
.nav-link-hover:hover{
	color: #007bff !important;
	border-bottom: 1px solid #007bff;
}
.nav-link-hover.active{
	color: #007bff !important;
	border-bottom: 1px solid #007bff;
}






/*Protfolio Section*/
#protfolio{

}
.main-protfolio-content{
	background-color: #fff;
	margin-bottom: 20px;
}
#protfolio img{
	max-width: 100%;
}
#protfolio p{
	margin-top: 1rem;
}
.protfolio-content-btn{
	width: 100%;
	border-radius: 0;
	font-size: 20px;
	height: 50px;
}




/*Contact section*/
#contact h1{
    margin-bottom: 50px;
}
.contact-box{
	max-width: 100%;

}
.box-header{
	padding: 20px 0 15px 0;
	margin: 0;
}
.box-text{
	padding: 0 0 20px 0;
}
#contact .bg-dark{
	background-color: #000 !important;
}
#contact .row{
	margin-bottom: 25px;
}
#contact input{
	width: 48.8%;
	margin-bottom: 10px;
	line-height: 50px;
	background-color: #f1eded;
	border: none;
	padding-left: 10px;
	font-size: 20px;

}
#contact input:focus{
	outline: none;
}
#contact .input-name, .input-phone{
	margin-right: 2%;
}
#massage{
	width: 100%;
	border: none;
	background-color: #f1eded;
	padding: 10px;
	font-size: 20px;
}
.send-btn{
	border-radius: 0;
	width: 150px;
	position: relative;
	left: 43%;
	margin: 10px 0 10px 0;
}
#massage:focus{
	outline: none;
}
#footer img{
	width: 100%;
	height: 200px;
}
.footer-box{
	width: 100%;
	height: 200px;
	background-color: #000;
	opacity: .9;
	z-index: 1;
}
.footer-content{
	position: absolute;
	top: 125%;
    left: 35%;
}
#footer .connect-social{
	margin: 0 0 14px 77px;


}
#footer a{
	color: #ffffff !important;

}
#footer p{
	color: #ffffff;
	font-size: 20px;
}
.protfolio-footer{
	top: 105%;
}